#map(style='float:left; width: 100%; height: 800px;')
nav.navbar.navbar-fixed-bottom.navbar-default
  .container
    .row
      .col-md-4
        button.btn.btn-default.btn-sm(style='margin-top: 8px;', data-ng-click='refreshCurrentLocation()')
          span.glyphicon.glyphicon-repeat
          | &nbsp; Refresh Location
